
	<div role="main" class="main shop">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="shorter"><strong>Shop</strong></h2>
					<p>Showing 1–12 of 25 results.</p>
				</div>
				<div class="col-md-6">
					<select class="orderby pull-right push-bottom" name="orderby">
						<option value="">Default sorting</option>
						<option value="popularity">Sort by popularity</option>
						<option value="rating">Sort by average rating</option>
						<option value="date">Sort by newness</option>
						<option value="price">Sort by price: low to high</option>
						<option value="price-desc">Sort by price: high to low</option>
					</select>
				</div>
			</div>


<div class="row">
<style>
h4.mine {text-align:center; margin-top:5%;}
p.mine {text-align:left; margin-left:5%; margin-right:5%;}
span.mine {text-align:left; margin-left:5%; margin-right:5%}
i.mine {text-align:left; margin-left:5%; margin-right:5%}
a.mine {text-align:left; margin-left:5%; margin-right:5%}
</style>
			<ul class="products thumb-info-list">
				<li class="col-md-3 product" ng-repeat="item in items">
				<span class="thumb-info">
						<div class="shop">
							<div class="row">
								<div class="col-md-12">
										<h4 class="mine">{{item.name}}</h4>
										<p class="mine">{{item.description}}</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="post-meta">
										<span class="mine"><i class="icon icon-calendar"></i> January 10, 2013 </span><br>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="post-meta">
										<span class="mine"><i class="icon icon-user"></i> By John Doe</span>
										<span class="mine"><i class="icon icon-tag"></i> Duis, News</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-md-offset-2">
									<a href="" class="btn btn-xs btn-primary pull-right" ng-click=edit(item)>Edit</a>
								</div>
								<div class="col-md-4">
									<a href="" class="btn btn-xs btn-primary pull-right" ng-click=delete(item)>Delete</a>
								</div>
							</div>
							</div>
							</span>
				</li>
			</ul>
			
		</div>
		</div>
		</div>
<a href="/createItem" class="btn btn-xs btn-primary pull-right">Create New Item</a>