<!--
<div role="main" class="main shop">

				<div class="container">

					<div class="row">
						<div class="col-md-6">
							<h2 class="shorter"><strong>Shop</strong></h2>
							<p>Showing 1–12 of 25 results.</p>
						</div>
						<div class="col-md-6">
							<select class="orderby pull-right push-bottom" name="orderby">
								<option value="">Default sorting</option>
								<option value="popularity">Sort by popularity</option>
								<option value="rating">Sort by average rating</option>
								<option value="date">Sort by newness</option>
								<option value="price">Sort by price: low to high</option>
								<option value="price-desc">Sort by price: high to low</option>
							</select>
						</div>
					</div>

					<div class="row">

						<ul class="products thumb-info-list">
							<li class="col-md-3 product">
								<a href="shop-product-sidebar.html">
									<span class="onsale">Sale!</span>
								</a>
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-1.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Photo Camera</h4>
											<span class="price">
												<del><span class="amount">$325</span></del>
												<ins><span class="amount">$299</span></ins>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-2.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Golf Bag</h4>
											<span class="price">
												<span class="amount">$72</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-3.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Workout</h4>
											<span class="price">
												<span class="amount">$60</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-4.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Luxury bag</h4>
											<span class="price">
												<span class="amount">$199</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-5.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Ladies' handbag</h4>
											<span class="price">
												<span class="amount">$189</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<a href="shop-product-sidebar.html">
									<span class="onsale">Sale!</span>
								</a>
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-6.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Baseball Cap</h4>
											<span class="price">
												<del><span class="amount">$25</span></del>
												<ins><span class="amount">$22</span></ins>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-7.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Red Ladies Handbag</h4>
											<span class="price">
												<span class="amount">$290</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-8.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Military Rucksack</h4>
											<span class="price">
												<span class="amount">$49</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<a href="shop-product-sidebar.html">
									<span class="onsale">Sale!</span>
								</a>
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-9.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Baseball</h4>
											<span class="price">
												<del><span class="amount">$15</span></del>
												<ins><span class="amount">$12</span></ins>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-10.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Travel bag</h4>
											<span class="price">
												<span class="amount">$78</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="img/products/product-11.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Pair of Ice Skates</h4>
											<span class="price">
												<span class="amount">$220</span>
											</span>
										</a>
									</span>
								</span>
							</li>
							<li class="col-md-3 product">
								<span class="thumb-info">
									<a href="shop-cart.html" class="add-to-cart-product">
										<span><i class="icon icon-shopping-cart"></i> Add to Cart</span>
									</a>
									<a href="shop-product-sidebar.html">
										<span class="thumb-info-image">
											<span class="thumb-info-act">
												<span class="thumb-info-act-left"><em>View</em></span>
												<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> Details</em></span>
											</span>
											<img alt="" class="img-responsive" src="/static/product-1.jpg">
										</span>
									</a>
									<span class="thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4>Sun Glasses</h4>
											<span class="price">
												<span class="amount">$129</span>
											</span>
										</a>
									</span>
								</span>
							</li>
						</ul>

					</div>

					<div class="row">
						<div class="col-md-12">
							<ul class="pagination pull-right">
								<li><a href="#"><i class="icon icon-chevron-left"></i></a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="icon icon-chevron-right"></i></a></li>
							</ul>
						</div>
					</div>

				</div>-->

<div role="main" class="main">

	<div class="container">

		<div class="row">
			<div class="col-md-9">
				<div class="blog-posts">

					<article class="post post-medium">
						<div class="row">
							<div class="col-md-5">
								<div class="owl-carousel" data-plugin-options='{"items": 1, "transitionStyle": "fade", "autoHeight": true}'>
									<div>
										<div class="post-image">
											<img class="img-responsive img-rounded" src="img/blog/blog-image-1.jpg" alt="">
										</div>
									</div>
									<div>
										<div class="post-image">
											<img class="img-responsive img-rounded" src="img/blog/blog-image-2.jpg" alt="">
										</div>
									</div>
									<div>
										<div class="post-image">
											<img class="img-responsive img-rounded" src="img/blog/blog-image-3.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>

					<div class="row">
						<div class="col-md-6">
							<h2 class="shorter"><strong>All Items</strong></h2>
							<p>{{iF.numItems}} items</p>
						</div>
						<div class="col-md-6">
							<select class="orderby pull-right push-bottom" name="orderby" ng-model="iF.selectedSort" ng-options="s.text for s in iF.sorts" ng-click="iF.changeSort()"></select>
						</div>
					</div>

					<div ng-repeat="item in iF.items">
						<article class="post post-medium">
							<div class="row">
								<div class="col-md-7">
									<div class="post-content">
										<h2><a href="">{{item.name}}</a></h2>
										<p>{{item.description}}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="post-meta">
										<span><i class="icon icon-user"></i> From <a ng-click="profile(item.storeName)">{{item.storeName}}</a> </span>
										<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Cost: {{item.cost}}</span>
										<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Sold: {{item.sold}}</span>
										<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Redeemed: {{item.redeemed}}</span>
										<span ng-show=item.num rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Own: {{item.num}}</span>
										<span ng-show="item.onWishlist" rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>On Wishlist</span>
										<a ng-hide="item.onWishlist" ng-click="addToWishlist($index)" class="btn btn-xs btn-primary pull-right">Add to Wishlist</a>
										<a ng-click="view(item)" class="btn btn-xs btn-primary pull-right">Read more...</a>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="post-meta">
								<a ng-hide="iF.numItems == iF.items.length" ng-click="showMore()" class="btn btn-xs btn-primary pull-right">Show More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>