<div class="container" ng-controller="HeaderCtrl">
    <div ng-hide="isSO">
        <h6 class="logo">
            <img alt="Tucson" src="public/img/smallLogo.png" data-small-height="44" width="121" height="36">
        </h6>
        <div class="navbar-collapse nav-main-collapse collapse">
            <div class="cart" ng-show=false>
                <a href="shop-cart.html"><i class="icon icon-shopping-cart"></i></a>
            </div>
            <div class="search" id="headerSearch" ng-show=false>
                <a href="#" id="headerSearchOpen"><i class="icon icon-search"></i></a>
                <div class="search-input">
                    <form id="headerSearchForm" action="page-search-results.html" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control search" name="q" id="q" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="icon icon-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main" id="mainMenu">
                    <li class="dropdown" ng-show=isLoggedIn>
                        <a class="dropdown-toggle" style="cursor: hand;cursor: pointer;" ng-click="logout()">
                            Logout
                        </a>
                    </li>
                    <li class="dropdown" ng-hide=isLoggedIn>
                        <a class="dropdown-toggle" ng-click="login()">
                            Login
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" ng-click="storeItems()">
                            Store
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" ng-click="posts()">
                            Dashboard
                        </a>
                    </li>
                    <li class="dropdown" ng-show=isLoggedIn>
                        <a ng-click="userProfile()" class="dropdown-toggle">
                            {{username}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="icon icon-bars"></i>
        </button>
    </div>

<!-- This is the header for store owners -->
    <div ng-show="isSO">
        <h6 class="logo">
            <img alt="Tucson" src="public/img/smallLogo.png" data-small-height="44" width="121" height="36">
        </h6>
        <div class="navbar-collapse nav-main-collapse collapse">
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main" id="mainMenu">
                    <li class="dropdown" ng-show=isLoggedIn>
                        <a class="dropdown-toggle" style="cursor: hand;cursor: pointer;" ng-click="logout()">
                            Logout
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" ng-click="sOItems()">
                            Inventory
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" ng-click="redeem()">
                            Redeem
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" ng-click="sOProfile()">
                            {{username}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="icon icon-bars"></i>
        </button>
    </div>
</div>