<div role="main" class="main shop">

	<div class="container">

		<div class="row">
			<div class="col-md-12">

				<div class="row featured-boxes">
					<div class="col-md-12">
						<div class="featured-box default">
							<div class="box-content">
								<h4>Create New Post!</h4>
								<form action="" id="contactForm" type="post">
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>Title</label>
												<input ng-model="formData.title" type="text" value="" class="form-control">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>Description</label>
												<textarea maxlength="5000" ng-model="formData.description" rows="10" class="form-control" name="comment" id="comment"></textarea>
											</div>
										</div>
									</div>
									
									<div ng-show="{{posts}}" class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>{{posts.title}}</label>
												<textarea maxlength="5000" ng-model="formData.description" rows="10" class="form-control" name="comment" id="comment"></textarea>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<input type="submit" ng-click="createNew()" value="Create Post" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading...">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>

</div>