<div role="main" class="main">

	<div class="container">

		<div class="row">
			<div class="col-md-9">
				<div class="blog-posts">

					<article class="post post-medium">
						<div class="row">
							<div class="col-md-5">
								<div class="owl-carousel" data-plugin-options='{"items": 1, "transitionStyle": "fade", "autoHeight": true}'>
									<div>
										<div class="post-image">
											<img class="img-responsive img-rounded" src="img/blog/blog-image-1.jpg" alt="">
										</div>
									</div>
									<div>
										<div class="post-image">
											<img class="img-responsive img-rounded" src="img/blog/blog-image-2.jpg" alt="">
										</div>
									</div>
									<div>
										<div class="post-image">
											<img class="img-responsive img-rounded" src="img/blog/blog-image-3.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>

					<div class="row">
						<div class="col-md-6">
							<h2 class="shorter"><strong>{{creator}}'s Posts</strong></h2>
							<p>{{pF.numPosts}} posts</p>
						</div>
						<div class="col-md-6">
							<select class="orderby pull-right push-bottom" name="orderby" ng-model="pF.selectedSort" ng-options="s.text for s in pF.sorts" ng-click="pF.changeSort()"></select>
						</div>
					</div>

					<div ng-repeat="post in pF.posts">
						<article class="post post-medium">
							<div class="row">
								<div class="col-md-7">
									<div class="post-content">
										<h2><a href="">{{post.title}}</a></h2>
										<p>{{post.description}}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="post-meta">
										<span><i class="icon icon-user"></i> By <a ng-click="profile(post)">{{post.creator}}</a> </span>
										<span><i class="icon icon-calendar"></i>{{post.created.month}} {{post.created.day}}, {{post.created.year}}</span>
										<a ng-click="view(post)" class="btn btn-xs btn-primary pull-right">Read more...</a>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="post-meta">
								<a ng-hide="pF.numPosts == pF.posts.length" ng-click="pF.showMore()" class="btn btn-xs btn-primary pull-right">Show More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>