<div role="main" class="main">
	<div class="container">
		<div class="masonry-item">
			<article class="post post-medium">
				<div class="row">
					<div class="col-md-12">
						<div class="post-meta">
							<a ng-click="createPost()" class="btn btn-xs btn-primary pull-right">Create New Post</a>
						</div>
					</div>
				</div>
			</article>
            <!--
            <div id="avatar" fullscreen="isFullScreen">
                <a ng-click='fullScreen("aCanvas")' class="btn btn-xs btn-primary pull-right" ng-hide="isFullScreen">Fullscreen</a>
                <canvas id="aCanvas"></canvas>
                <button ng-click="exit()" id="exit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" ng-show="isFullScreen"><span class="ui-icon ui-icon-circle-close"></span></button>
                <script>
                    $("#exit").button();
                </script>
            </div>-->
			<div class="row">
				<div class="col-md-6">
					<h2 class="shorter"><strong>All Posts</strong></h2>
					<p>{{pF.numPosts}} posts</p>
				</div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-lg btn-primary" data-animation="am-flip-x" bs-dropdown="pF.sorts">{{pF.selectedSort.text}}</button>
                </div>
    		</div>
    		<div infinite-scroll="pF.showMore()" infinite-scroll-disable="busy" infinite-scroll-distance="1">
				<div ng-repeat="post in pF.posts">
					<div class="featured-box">
						<div class="box-content">
							<article class="post post-medium">
								<div class="row">
									<!-- used index-blog.html, look at it having images-->
									<div class="col-md-12">
										<div class="post-content">
											<h2><a>{{post.title}}</a></h2>
											<p style="white-space: pre; word-wrap: break-word;" dotdotdot ng-bind="post.description"></p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="post-meta">
											<span><i class="icon icon-user"></i> By <a ng-click="profile(post.creator)">{{post.creator}}</a> </span>
											<span><i class="icon icon-calendar"></i>{{post.created.month}} {{post.created.day}}, {{post.created.year}}</span>
											<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>{{post.likes}}</span>
											<a ng-click="view(post)" class="btn btn-xs btn-primary pull-right">Read more...</a>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
			<div cg-busy="pF.promise"></div>
		</div>
	</div>
</div>