<div role="main" class="main">
	<div class="container">
		<div class="masonry-item">
			<article class="post post-medium">
				<div class="row">
					<div class="col-md-12">
						<div class="post-meta">
							<a ng-click="createItem()" class="btn btn-xs btn-primary pull-right">Create New Item</a>
						</div>
					</div>
				</div>
			</article>
			<div class="row">
				<div class="col-md-6">
					<h2 class="shorter"><strong>All Items</strong></h2>
					<p>{{iF.numItems}} items</p>
				</div>
				<div class="col-md-6">
                    <button type="button" class="btn btn-lg btn-primary" data-animation="am-flip-x" bs-dropdown="iF.sorts">{{iF.selectedSort.text}}</button>
                </div>
			</div>
			<div ng-repeat="item in iF.items">
				<div class="featured-box">
					<div class="box-content">
						<article class="post post-medium">
							<div class="row">
								<div class="col-md-12">
									<div class="post-content">
										<h2><a>{{item.name}}</a></h2>
										<p style="white-space: pre; word-wrap: break-word;" dotdotdot ng-bind="item.description"></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="post-meta">
										<span><i class="icon icon-user"></i> From <a>{{item.storeName}}</a> </span>
										<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Cost: {{item.cost}}</span>
										<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Sold: {{item.sold}}</span>
										<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Redeemed: {{item.redeemed}}</span>
										<a ng-click="edit(item)" class="btn btn-xs btn-primary pull-right">Edit</a>
										<a ng-click="iF.delete($index)" class="btn btn-xs btn-primary pull-right">Delete</a>
										<a ng-click="view(item)" class="btn btn-xs btn-primary pull-right">Read more...</a>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="post-meta">
						<a ng-hide="iF.numItems == iF.items.length" ng-click="iF.showMore()" class="btn btn-xs btn-primary pull-right">Show More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>