<section>
	<div role="main" class="main">
		<div class="container">
			<div class="masonry-item">
				<div class="featured-box">
					<div class="box-content">
						<article class="post post-medium">
							<div class="row">
								<div class="col-md-12">
									<div class="post-content">
										<h2><a href="">{{item.name}}</a></h2>
										<p style="white-space: pre; word-wrap: break-word;" nodotdotdot ng-bind="item.description"></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="post-meta">
										<span><i class="icon icon-user"></i> By <a ng-click="profile(item.storeName)">{{item.storeName}}</a> </span>
										<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Cost: {{item.cost}}</span>
										<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Sold: {{item.sold}}</span>
										<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Redeemed: {{item.redeemed}}</span>
										<span rel="tooltip" data-original-title="Like"><i class="icon icon-rub"></i>Own: {{item.num}}</span>
										<a ng-click="buy()" class="btn btn-xs btn-primary pull-right">Buy More</a>
									</div> 
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
			<qr type-number="2" correction-level="'M'" size="200" input-mode="'ALPHA_NUM'" text="qrcode" image="true"></qr>
			<p><strong>QR Code: {{item.QRCode}}</strong></p>
		</div>
	</div>
</section>