<div role="main" class="main shop">

	<div class="container">

		<div class="row">
			<div class="col-md-12">

				<div class="row featured-boxes">
					<div class="col-md-12">
						<div class="featured-box default">
							<div class="box-content">
								<h4>Edit User Information</h4>
								<form action="" id="contactForm" type="post">
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>Username</label>
												<input type="text" ng-model="userAttributes.username" value="" class="form-control">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>Email</label>
												<input type="text" ng-model="userAttributes.email" class="form-control">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>First Name</label>
												<input type="text" ng-model="userAttributes.firstName" class="form-control">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>Last Name</label>
												<input type="text" ng-model="userAttributes.lastName" class="form-control">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label>Description</label>
												<textarea maxlength="5000" ng-model="userAttributes.description" rows="10" class="form-control" name="comment" id="comment"></textarea>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-6">
											<input type="submit" ng-click="update(userAttributes)" value="Confirm Update" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading...">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>

</div>